
body {
	background-image: url("../sa2/assets/backgrounds/landing.jpg");
	background-repeat: no-repeat;
	width: 100%;

	background-attachment: fixed;
}

.logo {
  margin-top: 120px;
	margin-left: 580px;
}

.p {
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	text-align: center;
	padding-left:3px;
	color: white;
	text-indent: 150px;
  opacity: 0.9;
}
.rectangle {
	width:160px;
  height:40px;
  background:white;
	margin-top: 120px;
}
.Rectangle {
	width:160px;
	height:40px;
	background: #F15A29;
	margin-top: -9px;

}
