

.bgimage {
	background-image: url("../sa2/assets/backgrounds/landing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 890px;
	margin-top: 10px;


}

.bgimage img {
   
}

.logo {
	margin-left: 430px;
	padding-top: 250px;
}
.logo p {
    color: white;
    text-indent: -40px;
    padding-top: -1px;
    font-size: 25px;
    font-family: 'Pontano Sans', sans-serif;
   
}
span {
	margin-left: 50px;

}

.other0 {
	margin-top: 51px;
	width: 98%;

}

#element {
	width:350px;
	height:105px;
	background-color: white;
	margin-left: -15px;
}

#element h3 {
	text-align: center;
	padding-top: 30px;
	color: black;
	font-family: font-family: 'Alegreya', serif;


}

#element2 {
	width:350px;
	height:105px;
	background-color: #F15A29;
	margin-left: -15px;
	color: white;
	font-family: font-family: 'Alegreya', serif;
}

#element2 h3 {
	text-align: center;
	padding-top: 30px;
}

.other10 h3 {
	text-align: center;
	margin-top: -130px;
	margin-left: 60px;
	color: white;
	font-family: font-family: 'Niconne', cursive;
}
.other11 h3 {
	text-align: center;
	margin-top: -130px;
	margin-left: 60px;
	color: white;
	font-family: font-family: 'Niconne', cursive;
}

.other11 img {
	opacity: 5;
}
.other12 h3 {
	text-align: center;
	margin-top: -130px;
	margin-left: 60px;
	color: white;
	font-family: font-family: 'Niconne', cursive;
}

#fastfoods {
	width: 80%;
	float: right;
	margin-top: 15px;
    font-family: 'Noticia Text', serif;
}

#foods {
	width: 50%;
	float: right;

}

#fast {
	width: 50%;
}

#drinks {

    font-family: 'Noticia Text', serif;
    float: left;
    width: 200%;
    margin-left: -1000px;
    padding-left: 70px;

}

.drink2 {
	margin-left: 240px;
	margin-top: -390px;
	
}

#nav {
	background-image: url("../sa2/foodsBg.jpg");
	width: 100%;
	background-size: cover;
	padding: 30px;


}

.jpg {
	margin-top: 150px;
	display: flex;
    width: 1100px;
    height: 340px;
    background-color: white;
    margin-bottom: 100px;
    
    

} 

.jpg p {
	text-align: center;
	color: #F15A29;
}

.other {
	margin-left: 10px;
    margin-bottom: 50px;
    padding-top: 80px;
    padding-left: 35px;
    padding-right: -60px;
}

.menu {
	margin: 100px 30px 150px 30px;
	border: 100px;
	border-color: red;
	padding-top: 15px;
	padding-bottom: 10px;

}

.fast {
	margin-top: 40px;
}
.other2 {
	
    width: 1100px;
    height: 250px;
    background-color: white;
    margin-bottom: 100px;
    border-radius: 2px;
    padding: 22px;
    border:1px solid;
    border-top-color: gray;
    border-bottom-color: gray;
    border-right-color: gray;
    border-left-color: gray;
    box-shadow: 5px, 5px, 5px, 5px;
}

.other2 h5 {
	color: #F15A29;
	text-indent: 30px;
	text-align: center;
}
.other2 h6 {
	text-align: center;
}

.other4 {
	width: 500px;
	padding-left: 200px;
}

.space {
	text-indent: 60px;
}

.other3 p {
	text-indent: 45px;
}

.other5 p {

}

.contact {
	background-image: url("../sa2/assets/backgrounds/subscribe.jpg");
	bottom: 30px;
	padding-bottom: 40px;
}
 .contact h4 {
     margin-top: 150px;
     margin-left: 500px;
     color: white;
     background-size: cover;
 }

 .form-group {
 	width: 320px;
 	margin-left: 500px;
 	
 }
 .form-control {
 	opacity: 0.5;
 }

button {
	width: 220px;
	margin-left: 400px;
	margin-top: -60px;
	color: white;
	background-color: #F15A29;
	opacity: 0.9;
}
}

.other6 {
	margin-left: -60px;
}

.tags {
	background-color: #F15A29;
}

.other7 {
	margin-top: 80px;
	margin-left: 480px;
	width: 20%;
}

.other7 h2 {
	color: white;
	margin-left: 65px;
	margin-top: -35px;
}

.other7 p {
	font-size: 17px;
	color: white;
	margin-left: 15px;
	margin-bottom: 40px;
}



.license p {
	color: white;
	margin-left: 500px;
	padding-bottom: 50px;
	margin-bottom: 15px;
	margin-top: 70px;
	
	
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

.button {

	background-color: white;
    border-radius: 1px;
    color: #F15A29;
    padding: 9px 60px;
    text-decoration-line: none;
    top:90px;
    font-size: 12px;
    margin: 350px 5px;
    cursor: pointer;
    border-left-color: #F15A29; 
    border: 1px solid #F15A29 ;
}
hr {
	height: 1px;
	width: 63px;
	margin-top:10px;
}

#drinks h3 {
	float: right;
}

#drinks h5 {
	float: right;
}
 #drinks p {
 	float: right
 	margin-left: -150px;
 	padding-left: 100px;
 }

#drinks a {
	margin-left: 95px;
}

.tag1 tag2 tag3 {
	margin-top: 200px;
}